#ai {
  position: relative;
  height: calc(#{$sectionH} + 50px);

  // Media queries
  @media screen and (max-width: 1024px) {
    height: calc(#{$sectionH});
  }
  @media screen and (max-width: 768px) {
    height: calc(#{$sectionH} - 100px);
  }



  .txt {
    @extend %sectionTxt;
    color: #00001a;

    h2 {
      @extend %sectionH2;
    }

    p {
      @extend %sectionP;
    }
  }

  img {
    position: absolute;
    bottom: 45px;
    left: 50%;
    transform: translateX(-50%);
    width: 70%;
    height: auto;
  }
}
