// Estensioni
%sectionH2 {
  font-size: 35px;
  font-weight: 400;
  padding-bottom: 20px;
}

%sectionP {
  padding-bottom: 30px;
  font-size: 18px;
}

%sectionTxt {
  color: #fff;
  width: 70%;
  text-align: center;
  margin: auto;
  padding: 50px 0 30px 0;
}

%greySectRow {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 50px 0;

  // Media queries
  @media screen and (max-width: 678px) {
    display: block;
    text-align: center;
  }
}

%greySectTxt {
  flex-basis: 40%;
  color: #fff;

  h3 {
    font-size: 24px;
    padding-bottom: 20px;
  }

  p {
    font-size: 18px;
    line-height: 25px;
  }

  // Media queries
  // Media queries
  @media screen and (max-width: 768px) {
    h3 {
      font-size: 20px;
    }

    p {
      font-size: 15px;
    }
  }
}

%greySectImg {
  flex-basis: 60%;
  height: auto;


  // Media queries
  @media screen and (max-width: 678px) {
    width: 50%;
    padding-top: 20px;
  }
}
