#grey-section {
  width: 100%;
  background-color: #222222;

  .flexible-photo {
    @extend %sectionTxt;

    h2 {
      @extend %sectionH2;
    }

    p {
      @extend %sectionP;
    }

    img {
      width: 70%;
      height: auto;
      margin: 30px 0;
    }
  }

  .row {
    @extend %greySectRow;

    .txt {
      @extend %greySectTxt;
    }

    img {
      @extend %greySectImg;
    }

    &#brushes {
      flex-direction: row-reverse;

      .txt {
        padding-left: 40px;

        // Media queries
        @media screen and (max-width: 678px) {
          padding: 0;
        }
      }
     }

    &#experiment .txt {
     padding-right: 40px;

    // Media queries
     @media screen and (max-width: 678px) {
       padding: 0;
     }
   }
  }
}
