// Mixins
@mixin listReset {
  list-style: none;
  display: flex;
}

@mixin linkReset {
  text-decoration: none;
}

@mixin slowTransition {
  transition: all 0.4s ease;
}
// fine mixins

// Variabili
// fine variabili

header nav {
  background-color: #000;
  height: 100%;

  li {
    display: inline-block;

    a {
      @include linkReset;
    }
  }
}


.top-nav {
  padding: 10px 0;
  align-items: center;

  ul {
  @include listReset;
  justify-content: flex-end;

    li {
      margin-left: 20px;

      a {
        color: grey;
        @include slowTransition;
        font-size: 12px;

      &:hover {
        color: #fff;
        text-decoration: underline;
      }

      i {
        padding-right: 5px;
        color: #009CFF;
      }
      }
    }
  }
  }

.bottom-nav ul {
  @include listReset;
  justify-content: flex-start;
  height: 50px;
  line-height: 50px;

  li {
    height: 100%;

    a {
      display: inline-block;
      color: #fff;
      font-size: 15px;
      white-space: nowrap;
      height: 100%;
      padding: 0 10px;
      @include slowTransition;
    }

    &:not(:first-child):hover {

      a {
        background-color: #fff;
        color: #000;
      }
    }

    &#logo {
      margin-right: 25px;

      img {
        height: 30px;
        width: auto;
        position: relative;
        top: 5px;
      }
    }
  }
}
