//Default e import
* {
box-sizing: border-box;
margin: 0;
padding: 0;
}

@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300;400;700;900&display=swap');
@import "Partials/_navbar.scss";
@import "Partials/_jumbotron.scss";
@import "Partials/_overview.scss";
// fine default e import

// Variabili
$containerWidth : 80%;
// fine variabili

// Generiche, body e container
body {
  font-family: "Lato", sans-serif;
}

.container {
  width: $containerWidth;
  margin: auto;
}
// fine generiche, body e container
